{# In _macros.html #}
{% import '_options.html' as options %}

{% macro render_dropdown(name, options, selected_value='', include_default=false, default_label="Select", attrs="") %}
<select name="{{ name }}" {{ attrs|safe }} onClick="logMacro('Dropdown', '{{ name }}', this.value)">
    {% if include_default %}
    <option value="">{{ default_label }}</option>
    {% endif %}
    {% for option in options %}
    {% set value = option[0] %}
    {% set label = option[1] %}
    <option value="{{ value }}" {% if value==selected_value %}selected{% endif %}>{{ label }}</option>
    {% endfor %}
</select>
{% endmacro %}

{% macro render_feature(field, label, project_features) %}
<div class="col">
    <div class="card p-3 text-center shadow-sm w-100">
        <small class="fw-bold d-block mb-2">{{ label }}</small>
        <div class="d-flex w-100 justify-content-between gap-1">
            {% for value, btn_label, btn_class in options.feature %}
            <input type="radio" class="btn-check" name="{{ field }}" id="{{ field }}_{{ value }}" value="{{ value }}"
                   {% if project_features[field]==value %}checked{% endif %}>
            <label class="btn btn-outline-{{ btn_class }} btn-sm text-center w-100" for="{{ field }}_{{ value }}"
                   onClick="logMacro('Feature', '{{ field }}', '{{ value }}')">
                {{ btn_label }}
            </label>
            {% endfor %}
        </div>
    </div>
</div>
{% endmacro %}

{% macro render_binary_options(field, label, project) %}
<div class="col">
    <div class="card p-3 text-center shadow-sm w-100">
        <small class="fw-bold d-block mb-2">{{ label }}</small>
        <div class="btn-group mt-1" role="group">
            <input type="radio" class="btn-check" name="reg_{{ field }}" id="{{ field }}_yes" value="x" {% if project[field]=='x' %}checked{% endif %}>
            <label class="btn btn-outline-success btn-sm" for="{{ field }}_yes" onClick="logMacro('Binary', '{{ field }}', 'Yes')">YES</label>
            <input type="radio" class="btn-check" name="reg_{{ field }}" id="{{ field }}_no" value="NULL" {% if project[field] is none %}checked{% endif %}>
            <label class="btn btn-outline-danger btn-sm" for="{{ field }}_no" onClick="logMacro('Binary', '{{ field }}', 'No')">NO</label>
        </div>
    </div>
</div>
{% endmacro %}

{% macro render_multiselect(name, options, selected_values=[]) %}
<select name="{{ name }}[]" multiple class="form-select" aria-label="Platform selection" onClick="logMacro('MultiSelect', '{{ name }}', this.value)">
    {% for value, label in options %}
    <option value="{{ value }}" {% if value in selected_values %}selected{% endif %}>{{ label }}</option>
    {% endfor %}
</select>
{% endmacro %}
